
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/images/
/public/build/
/public/uploads/photos
/public/uploads/albums
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

/.env
/.env.dev
/.env.test
/.env.prod
/.env-old

!/public/images/fr.png
!/public/images/en.png
!/public/images/logo_github.png
!/public/images/logo_instagram.png
!/public/images/logo_linkedin.png
!/public/images/default-photo.png
!/public/images/folder-icon.png

Dockerfile

logs/
var/
node_modules/
tests/
migrations/

docker-compose.yml
nginx.conf
php.ini

package-lock.json
composer.lock