{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ 'inscription'|trans }}{% endblock %}

{% block body %}
    <div id="register-form-root"></div>
{% endblock %}
