{% extends 'base.html.twig' %}

{% block body %}

    <div id="presentation-root"></div>
    <div id="project-carousel-root"></div>

    <div id="competences-root"></div>
    <div id="timeline-root"></div>
    
    <div id="cv-contact-root"></div>
    
{% endblock %}