{% extends 'base.html.twig' %}

{% block body %}
    <h2>Bienvenue sur mon site, cliquez sur le lien de votre choix</h2>
    <ul>
        {% for section, link in sections %}
            <li><a href="{{ link }}">{{ section }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}