{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur mon Portfolio</h1>
    <ul>
        {% for section, link in sections %}
            <li><a href="{{ link }}">{{ section }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}