{# templates/error/error.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page d'erreur{% endblock %}

{% block body %}
    <div class="error-container">
        <h2>Une erreur est survenue</h2>
        <p>Nous sommes désolés, une erreur s'est produite. Veuillez essayer à nouveau plus tard.</p>
        <p>Si vous pensez que ceci est une erreur, contactez l'administrateur.</p>
    </div>
{% endblock %}
