@use "./variables" as *;

/* Style global */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Arkhip', 'Cambria Math', sans-serif;
  height: 100%; /* L'élément html et le body occupent toute la hauteur de la page */
  margin: 0; /* Retire toute marge par défaut */
  padding-top: 50px;
  display: flex; /* Utilise Flexbox pour la mise en page du body */
  flex-direction: column; /* Aligne les éléments enfants en colonne */
}

.main-content-wrapper {
  flex: 1;
  padding: 100px 50px; /* Padding initial */
  box-sizing: border-box;
  margin-bottom: 50px; /* Espacement avant le footer */
  width: 100%;
}

main {
  padding: 0;
}

/* Titres */
h1, h2, h3, h4 {
  font-weight: bold;
  text-decoration: underline;
  color: $primary-color;
  text-decoration-color: $secondary-color;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  margin: 30px 0;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: left;
}

h4 {
  color: $secondary-color;
  font-size: 1.2rem;
  margin: 0;
  text-decoration: none;
}

/* Paragraphes */
p {
  font-size: 1.5rem;
  line-height: 1.6;

  a {
    color: $primary-color;
  }

  &.details-photo {
    text-align: center;
  }
}

.espacement {
  height: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content-wrapper {
    padding: 50px 20px; /* Réduction des marges pour tablettes */
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }
}
