/* _buttons.scss */
@use "./variables" as *;
/*
button[type="submit"] {
    background-color: $secondary-color; /* Vert pour les boutons * /
    color: white; /* Texte blanc * /
    border: none; /* Supprime les bordures * /
    padding: 0.5rem 1rem; /* Espacement interne * /
    cursor: pointer; /* Change le curseur * /
    border-radius: 5px; /* Angle arrondi * /
    font-size: 1rem; /* Taille de police standard * /
    transition: background-color 0.3s; /* Animation fluide * /
}

button[type="submit"]:hover {
    background-color: $secondary-color-hover; /* Couleur verte plus foncée * /
}*/

