/* _buttons.scss */

/* Styles généraux pour le bouton */
/*#theme-toggle {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-toggle:hover {
    background-color: #f1f1f1;
}*/
