/* _buttons.scss */
@use "./variables" as *;

/* Style pour le bouton "Accepter" */
.cookie-consent .accept-button {
    background-color: $green-color;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: $secondary-color-hover;
    }
}
  
/* Style pour le bouton "Refuser" */
.cookie-consent .decline-button {
    background-color: $red-color;
    color: blue;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: $red-color-hover;
    }
}

.green-button {
  background-color: $secondary-color;
  color: $header-bg-color;
  border-radius: 5px;
  border: none; /* Supprime la bordure */
  cursor: pointer; /* Pointeur au survol */
  width: auto; /* Ajuste automatiquement à la taille du contenu */
  padding: 0.5rem 1rem; /* Ajuste l'espacement pour un bouton simple */
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: $secondary-color-hover; /* Fond vert plus sombre au survol */
    color: white; /* Texte en blanc au survol */
  }
}

.blue-button {
  background-color: $primary-color;
  color: $header-bg-color;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: auto;
  padding: 0.5rem 1rem;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: $primary-color-hover;
    color: white; /* Texte en blanc au survol */
  }
}

.orange-button {
  background-color: $orange-color;
  color: $header-bg-color;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: auto;
  padding: 0.5rem 1rem;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: $orange-color-hover;
    color: white; /* Texte en blanc au survol */
  }
}

.crud-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  button, a {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &.view {
      background-color: $primary-color;
      color: black;
      font-weight: bold;
      &:hover {
          background-color: $primary-color-hover; /* Assombrit la couleur de fond */
          transform: scale(1.2); /* Zoom léger */
      }
    }

    &.edit {
      background-color: $secondary-color;
      color: black;
      font-weight: bold;
      &:hover {
          background-color: $secondary-color-hover; /* Assombrit la couleur de fond */
          transform: scale(1.2); /* Zoom léger */
      }
    }

    &.delete {
      background-color: $orange-color;
      color: black;
      font-weight: bold;
      &:hover {
          background-color: $orange-color-hover;
          transform: scale(1.2);
      }
    }

    &.validate {
      background-color: $purple-color;
      color: black;
      font-weight: bold;
      &:hover {
          background-color: $purple-color-hover;
          transform: scale(1.2);
      }
    }
  }
}

  