/* 
 * Fichier : variables.scss
 * Ce fichier contient des variables globales pour définir des couleurs, des espacements, des polices, etc.
 * Utiliser des variables permet de centraliser les modifications de style et de rendre le projet plus facile à maintenir.
 */

 @use "sass:color";
/* Définition des couleurs principales */
$primary-color: #3498db;  /* Bleu clair pour les éléments principaux */
$secondary-color: #2ecc71;
$background-color: #f4f4f4;  /* Gris clair pour le fond général */
$header-bg-color: #333;  // définis la couleur de fond du header
$red-color: #e74c3c;
$blue-color: #3498db;
$yellow-color: #f1c40f;
$green-color: #2ecc71;
$purple-color: #9b59b6;
$orange-color: #ffa500;
$input-color: #444;

$active-color: #ffffff;
$hover-color: #dddddd;
$menu-item-height: 38px;

/* Définition des couleurs hover */
$primary-color-hover: color.scale($primary-color, $lightness: -10%);// Réduit la luminosité de 10%, comme l'ancien "darken"
$secondary-color-hover: color.scale($secondary-color, $lightness: -10%);
$red-color-hover: color.scale($red-color, $lightness: -10%);
$blue-color-hover: color.scale($blue-color, $lightness: -10%);
$yellow-color-hover: color.scale($yellow-color, $lightness: -10%);
$green-color-hover: color.scale($green-color, $lightness: -10%);
$purple-color-hover: color.scale($purple-color, $lightness: -10%);
$orange-color-hover: color.scale($orange-color, $lightness: -10%);
$input-color-hover: color.scale($input-color, $lightness: -10%);

$color-light-bg: #ffffff; // Couleur de fond claire
$color-light-text: #000000; // Texte sombre pour le mode clair
$color-dark-bg: #1e1e1e; // Couleur de fond sombre
$color-dark-text: #f5f5f5; // Texte clair pour le mode sombre

/* Définition des couleurs hover pour les modes clair et sombre */
$color-light-bg-hover: color.scale($color-light-bg, $lightness: -5%);
$color-light-text-hover: color.scale($color-light-text, $lightness: 20%);
$color-dark-bg-hover: color.scale($color-dark-bg, $lightness: 5%);
$color-dark-text-hover: color.scale($color-dark-text, $lightness: -20%);

/* Définition de la taille de police */
$font-size-base: 16px;  /* Taille de base de la police */
$font-size-heading: 2rem;  /* Taille de police pour les titres */

/* Définition des espacements */
$space-xs: 8px;  /* Espacement de 8px pour les petits éléments */
$space-sm: 16px;  /* Espacement de 16px pour les éléments plus grands */
$space-md: 32px;  /* Espacement de 32px pour les éléments principaux */
$space-lg: 64px;  /* Espacement de 64px pour les éléments très grands */