/* 
 * Fichier : variables.scss
 * Ce fichier contient des variables globales pour définir des couleurs, des espacements, des polices, etc.
 * Utiliser des variables permet de centraliser les modifications de style et de rendre le projet plus facile à maintenir.
 */

 @use "sass:color";
/* Définition des couleurs principales */
$primary-color: #3498db;
$secondary-color: #2ecc71;

$red-color: #e74c3c;
$blue-color: #3498db;
$yellow-color: #f1c40f;
$green-color: #4CAF50;
$purple-color: #9b59b6;
$orange-color: #ffa500;
$input-color: #444;
$light-white-color: #f9f9f9;
$active-color: #ffffff;
$hover-color: #dddddd;

/* couleur des notifications et messages flashs */
$darkgreen-color: #155724;
$lightgreen-color: #d4edda;
$bordergreen-color: #c3e6cb;
$darkred-color: #721c24;
$lightred-color: #f8d7da;
$borderred-color: #f5c6cb;

/* header */
$header-bg-color: #333;  // définis la couleur de fond du header
$menu-item-height: 38px;

/* Light et Dark modes */
$dark-bg-color: #121212; // Couleur de fond sombre
$dark-text-color: #cccccc; // Texte clair pour le mode sombre
$light-bg-color: #ffffff; // Couleur de fond claire
$light-text-color: #000000; // Texte sombre pour le mode clair

/* Dashboard */
// Définition des couleurs de lignes pour chaque tableau
$odd-row-color-users: #8B1A1A;  // Rouge pour les utilisateurs (ligne impaire)
$even-row-color-users: #6F1414; // Rouge pour les utilisateurs (ligne paire)

$odd-row-color-photos: #2C6B3F;  // Vert pour les photos (ligne impaire)
$even-row-color-photos: #1F5232; // Vert pour les photos (ligne paire)

$odd-row-color-albums: #2C3E50;  // Bleu pour les albums (ligne impaire)
$even-row-color-albums: #1A2530; // Bleu pour les albums (ligne paire)

$odd-row-color-articles: #5A4633;  // Marron pour les articles (ligne impaire)
$even-row-color-articles: #3D2F22; // Marron pour les articles (ligne paire)

$odd-row-color-comments: #6A4C9C;  // Violet pour les commentaires (ligne impaire)
$even-row-color-comments: #4E2A84 ; // Violet pour les commentaires (ligne paire)

$odd-row-color-themes: #B78F2E;  // Jaune foncé pour les thèmes (ligne impaire)
$even-row-color-themes: #8F6D2F ; // Jaune foncé pour les thèmes (ligne paire)

/* Définition des couleurs hover */
$primary-color-hover: color.scale($primary-color, $lightness: -10%);// Réduit la luminosité de 10%, comme l'ancien "darken"
$secondary-color-hover: color.scale($secondary-color, $lightness: -10%);
$red-color-hover: color.scale($red-color, $lightness: -10%);
$blue-color-hover: color.scale($blue-color, $lightness: -10%);
$yellow-color-hover: color.scale($yellow-color, $lightness: -10%);
$green-color-hover: color.scale($green-color, $lightness: -10%);
$purple-color-hover: color.scale($purple-color, $lightness: -10%);
$orange-color-hover: color.scale($orange-color, $lightness: -10%);
$input-color-hover: color.scale($input-color, $lightness: -10%);

/* Définition de la taille de police */
$font-size-base: 16px;  /* Taille de base de la police */
$font-size-heading: 2rem;  /* Taille de police pour les titres */

/* Définition des espacements */
$space-xs: 8px;  /* Espacement de 8px pour les petits éléments */
$space-sm: 16px;  /* Espacement de 16px pour les éléments plus grands */
$space-md: 32px;  /* Espacement de 32px pour les éléments principaux */
$space-lg: 64px;  /* Espacement de 64px pour les éléments très grands */

/* transition */
$transition-duration: 0.5s;

/* timeline */
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
$hover-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
$experience-color: rgba(255, 255, 255, 0.1);
$highlight-color: rgba(255, 255, 255, 0.3);
$highlight-hover: rgba(255, 255, 255, 0.2);