{% extends 'base.html.twig' %}

{% block body %}
    <h1>Album Photo</h1>
    <ul class="photo-grid">  {# Ajoute la classe photo-grid ici pour appliquer la grille CSS #}
        {% for photo in photos %}
            <li>
                <img src="{{ asset('uploads/photos/' ~ photo.filePath) }}" alt="{{ photo.title }}">
                <p>{{ photo.title }}</p>
            </li>
        {% else %}
            <li>No photos found.</li>
        {% endfor %}
    </ul>
{% endblock %}
