.project-carousel {
  position: relative;
  padding-top: 70px;
  text-align: center;
  margin: 40px 0;
}

.carousel-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  // Affiche 3 éléments sur grand écran
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.carousel-container.next {
  transform: translateX(-10%);
  animation: slide-left 0.3s ease-in-out forwards;
}

.carousel-container.prev {
  transform: translateX(10%);
  animation: slide-right 0.3s ease-in-out forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.project-slide {
  position: relative;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  // Masque le titre au centre si l'élément est trop grand
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

.project-slide p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6); /* Fond noir semi-transparent */
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  padding: 8px 12px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.project-slide:hover .project-image {
  opacity: 0.5;
}

.project-slide:hover p {
  opacity: 1;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .project-slide {
    width: 100%;  // Assure que chaque élément prend toute la largeur disponible
  }

  .prev-btn, .next-btn {
    display: none;  // Masque les boutons sur mobile
  }
}
