@use "../base/variables" as *; // Assure-toi que les variables sont chargées avant leur utilisation

header {
    background-color: $header-bg-color;
    color: white;
    padding: $space-sm $space-md;
    text-align: center;
    position: relative; /* Ajouté pour bien gérer le positionnement du bouton */
  
    h1 {
        font-size: $font-size-heading;
    }

    nav {
        margin-top: $space-sm;
        
        a {
            color: white;
            padding: $space-xs $space-sm;
            margin: 0 $space-sm;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $primary-color;
            }
        }
    }

    .theme-toggle {
        position: absolute; /* Permet de placer le bouton en haut à droite */
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 18px;
        transition: color 0.3s ease;

        &:hover {
            color: $primary-color;
        }
    }
}
