@use "../base/variables" as *;

.languette-container {
    position: fixed;
    top: 0;
    left: 0;
    /* Réduire la zone de couverture au minimum nécessaire */
    height: auto;
    width: auto;
    z-index: 100;
    pointer-events: none; /* Désactiver les interactions par défaut */
}
  
  /* Languette (container caché et qui s'affiche) */
  .languette {
    position: fixed;
    left: -200px; /* Complètement hors de l'écran quand fermée */
    width: 200px;
    height: 100vh;
    background-color: $languette-color;
    color: $primary-color;
    z-index: 110;
    transition: left 0.3s ease; /* Animation pour l'ouverture */
    pointer-events: auto;

    /* Flexbox pour centrer les éléments */
    display: flex;
    flex-direction: column; /* Arrange les éléments en colonne */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espace entre les éléments */
}
  
  /* Bouton qui sera à gauche au centre de l'écran */
  button.languette-toggle {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Centre verticalement */
    width: 30px;
    height: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $languette-color;
    color: $secondary-color;
    border: none;
    cursor: pointer;
    z-index: 10010;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease; /* Déplacement du bouton */
    pointer-events: auto; /* S'assurer que les clics fonctionnent */
  }
  
  /* Si la languette est ouverte, la déplace */
  .languette.open {
    left: 0;
  }
  
  /* Quand la languette est ouverte, déplace également le bouton */
  button.languette-toggle.open {
    left: 200px;
  }
  