/* Styles de base */

@use "../base/variables" as *;

/* Par défaut (dark mode) */
body {
  background-color: $dark-bg-color;
  color: $dark-text-color;
}

/* Mode clair (light mode) */
body.light-mode {
  background-color: $light-bg-color;
  color: $light-text-color;
}

/* Mode sombre (dark mode) */
body.dark-mode {
  background-color: $dark-bg-color;
  color: $dark-text-color;
}