/* Styles de base */

@use "../base/variables" as *;

/* Par défaut (dark mode) */
body {
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s; /* Transition fluide par défaut */
}

/* Mode clair (light mode) */
body.light-mode {
  background-color: $light-white-color;
  color: black;
}

/* Mode sombre (dark mode) */
body.dark-mode {
  background-color: black;
  color: white;
}

/* Ajouter des transitions pour rendre le changement plus fluide */
body {
  transition: background-color 0.5s, color 0.5s;
}