@use "../base/variables" as *;

.presentation-container {
    display: flex; /* Utilisation de Flexbox pour disposer l'image et le texte sur une seule ligne */
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Assure que le conteneur prend toute la largeur disponible de son parent */
    margin: 20px auto; /* Centrer le conteneur horizontalement */
    padding: 0 60px; /* Ajoute de l'espace intérieur à gauche et à droite */
    gap: 100px; /* Espacement entre les sections de texte et image */
    flex-wrap: wrap; /* Permet aux éléments de se réorganiser sur plusieurs lignes si nécessaire */
    margin-bottom: 40px; /* Augmente l'espacement sous chaque section */

    .photo-presentation {
        /* Fixe une largeur pour l'image * /
        flex: 1 1 200px; /* L'image peut se rétrécir, mais aura une largeur minimale de 200px * /
        text-align: center;*/

        /* Supprimer l'effet de rétrécissement */
        flex: 0 0 auto; /* Empêche l'image de se redimensionner ou de s'étirer */
        text-align: center;

        img {
            width: 100%; /* L'image occupe toute sa largeur par défaut */
            max-width: 100%; /* Adapte l'image à la largeur disponible */
            height: auto; /* Conserve les proportions */
            border-radius: 50px; /* ajout de coins arrondis */
        }
    }

    .texte {
        flex: 2 1 300px; /* Le texte prend plus d'espace que les images */
        text-align: left; /* Aligne le texte à gauche */
        font-size: 16px; /* Taille du texte */
        line-height: 1.6; /* Hauteur de ligne */
        color: #ccc; /* Couleur du texte en blanc */

        h2 {
            font-size: 24px; /* Taille du titre */
            margin-bottom: 10px; /* Espacement sous le titre */
            color: $primary-color; /* Couleur du titre */
        }

        p {
            font-size: 18px; /* Taille du texte */
            line-height: 1.6; /* Hauteur de ligne */
            color: #ccc;

            // Mode clair
            body.light-mode & {
                color: $light-text-color; // Utilise la variable pour la couleur en mode clair
            }

            // Mode sombre
            body.dark-mode & {
                color: $dark-text-color; // Utilise la variable pour la couleur en mode sombre
            }

            a {
                color: $primary-color;
            }
        }
    }

    /* Section des compétences */
    .competences {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px; /* Ajoute un espacement entre chaque élément */
        width: 45%;
    }

    /* Chaque compétence */
    .competence {
        display: flex;
        justify-content: center;
        align-items: center; /* Aligne l'image et le texte sur une même ligne */
        gap: 15px; /* Espacement entre l'image et le texte */
        width: 30%;
        position: relative; /* Nécessaire pour positionner le texte à l'intérieur de l'icône */
        overflow: hidden; /* Empêche le texte de dépasser l'icône */
        transition: transform 0.3s ease; /* Transition globale pour l'effet de survol */

        /* Icône */
        img {
            width: 50px; /* Largeur fixe pour les images */
            height: 50px; /* Hauteur fixe pour les images */
            object-fit: contain; /* Conserve les proportions de l'image */
            margin-right: 10px; /* Espacement entre l'image et le texte */
            border-radius: 8px; /* Coins arrondis pour les images */
            transition: transform 0.3s ease; /* Transition pour l'effet de survol */
        }

        /* Texte de la compétence */
        .competence-text {
            position: absolute;
            top: 100%;
            left: 47%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            background-color: rgba(0, 0, 0, 0.7); /* Fond sombre pour le texte */
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            transition: opacity 0.3s ease, top 0.3s ease; /* Transition pour le texte */
        }

        /* Animation de survol */
        &:hover {
            img {
                transform: scale(1.05); /* Agrandir légèrement l'icône sans trop déformer */
            }

            .competence-text {
                top: 48%; /* Déplacer le texte juste au-dessus de l'icône */
                opacity: 1;
                visibility: visible; /* Afficher le texte */
            }
        }
    }
}

.separator {
    width: 20%;
    height: 5px;
    background: linear-gradient(to right, $primary-color 50%, $secondary-color 50%);
    margin: 100px auto;
}

@media screen and (max-width: 1200px) {
    .photo-presentation {
      display: none;
    }
}
