@use "../base/variables" as *;

.timeline {
  padding: 50px 20px;
  text-align: center;

  .timeline-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .timeline-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 4px;
      height: 100%;
      background-color: $highlight-color;
    }

    /* Mode clair */
    body.light-mode & {
      &::before {
        background-color: $light-text-color; /* Change la couleur de la ligne verticale en noir pour le mode clair */
      }
    }
  }

  .timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    text-align: left;
    transform: translateX(-100px); // Animation de départ
    opacity: 0;
    transition: all 0.8s ease;
    cursor: pointer;

    &:nth-child(odd) {
      left: 0;
      text-align: right;
    }

    &:nth-child(even) {
      left: 50%;
      text-align: left;
    }

    &.visible {
      transform: translateX(0);
      opacity: 1;
    }

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }

    .timeline-content {
      background: $experience-color;
      border-radius: 10px;
      padding: 20px;
      box-shadow: $box-shadow;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;

      h3 {
        margin: 0;
      }

      p {
        margin: 10px 0 0;
      }

      &:hover {
        background: $highlight-hover;
        transform: scale(1.05);
        transition: transform $transition-duration ease, background $transition-duration ease;
        box-shadow: $hover-shadow;
      }
    }
  }

  @media (max-width: 768px) {
    .timeline-content {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }
    .timeline-content p,h4 {
      font-size: 0.6rem; // Réduction de la taille des paragraphes sur mobile
      text-decoration: none;
    }
    .timeline-content h3 {
      font-size: 0.8rem;
      text-decoration: none;
      margin: 0;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  box-shadow: $box-shadow;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;

  p {
    white-space: pre-line; /* Permet d'afficher les sauts de ligne du JSON */
    font-size: 1.2rem;
  }
}

.close-btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: $highlight-color;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;

  &:hover {
    background: darken($highlight-color, 10%);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
