{% extends 'base.html.twig' %}

{% block body %}
  <h1>Politique de Cookies</h1>
  <p>Nous utilisons des cookies pour améliorer votre expérience. Voici les informations importantes concernant l'utilisation des cookies sur ce site :</p>
  <ul>
    <li><strong>Cookies nécessaires</strong> : Ces cookies sont essentiels pour la navigation sur le site et ne peuvent pas être désactivés.</li>
    <li><strong>Cookies analytiques</strong> : Ces cookies nous permettent d'analyser l'utilisation du site et d'améliorer notre contenu.</li>
    <li><strong>Cookies publicitaires</strong> : Ces cookies sont utilisés pour personnaliser les publicités que vous voyez sur notre site et d'autres sites web.</li>
  </ul>
  <p>Vous pouvez à tout moment modifier vos préférences ou retirer votre consentement dans les paramètres de cookies.</p>
  <a href="/">Retour à l'accueil</a>
{% endblock %}