<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Album Photo</title>

    {# Inclure le fichier CSS compilé par Webpack #}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
    <header>
        <h1>Mon Album Photo</h1>
        <!-- Autres éléments de ton header -->
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mon Album Photo</p>
    </footer>
</body>
</html>
