<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Port folio - Guillaume Quesnel{% endblock %}</title>
    {{ encore_entry_link_tags('app-ts') }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/9fa16898e34679af52e872d6f6b553a4?family=Arkhip" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body class="dark-mode">
    <!-- Header React -->
    <div id="header-root" class="hamburger-header"></div>

    <div class="main-content-wrapper">
        <div class="main-content">
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>

    <div id="footer-root"></div>

    <div id="cookie-consent"></div>
    <div id="languette-root"></div>
    <!-- Spinner et message en overlay -->
    <div id="spinner-overlay">
        <div class="spinner"></div>
        <div class="message">Traitement en cours...</div>
    </div>
    {{ encore_entry_script_tags('app-ts') }}
    {% block javascripts %}{% endblock %}
</body>
</html>
