{# templates/theme/create.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Thème{% endblock %}

{% block body %}
    <h1>Créer un nouveau Thème</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
