{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'dashboard'|trans }}</h1>

<!-- Point d'ancrage pour React -->
<div id="dashboard-tabs"></div>

{% endblock %}

{% block javascripts %}
    <script src="{{ encore_entry_script_tags('app-ts') }}"></script>
{% endblock %}