{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Dashboard</h1>

<h2>Albums</h2>
<ul>
    {% for album in albums %}
        <li>{{ album.getNomAlbum() }} ({{ albumPhotosCount[album.id] }} photos)</li>
    {% endfor %}
</ul>

<div id="photos-table"></div>
{% endblock %}
